*{
  box-sizing: border-box;
}
body{
   background-color: black;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
.contaienr{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.head{
  width: 90PX;
  height: 100px;
}
h1{
  width: 100%;
  text-align: left;
  letter-spacing: 20px;
  color: rgb(255, 115, 0);
  text-shadow: 5px 5px 5px whitesmoke;
  font-size: 30px;
  animation: right 5s infinite;
}
@keyframes right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
h2{
  color: beige;
  text-align: center;
  animation: biger 3s infinite;
}
@keyframes  {
0% {
  font-size: 0;
}
100% {
  font-size: larger;
}
}
.grid-container{
  display: grid;
   justify-content: space-evenly;
   align-items: center;
}
.buttons{
  display: flex;

}
.button {
  position: relative;
  display: flex;
  width: 50px;
  height: 30px;
  margin: 15px;
  background-color: #6f00ff;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 50%;
}


.ring i{
  position:absolute;
  inset: 0;
}
.ring{
  position: absolute;
  height: 45px;
  width: 70px;
  border-radius:50% ;
}
.ring i:nth-child(1){
  border:2px solid rgb(0, 159, 252);
  box-shadow: 2px 2px 10px #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2){
  border:2px solid rgb(0, 255, 42);
  box-shadow: 1px 1px 20px rgb(38, 0, 255);
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37% ;
  animation: animate 7s linear infinite;
}
.ring i:nth-child(3){
  border:2px solid #ff4500;
  box-shadow: 0.5px 0.5px 30px #0b0f;
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37% ;
  animation: animate 10s linear infinite;
 }
 @keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.images{
}
#content1 img, #content2 img, #content3 img, #content4 img, #content5 img, #content6 img{
width: 300px;
height: 300px;
border-radius: 50%;
}
#content1, #content2, #content3, #content4, #content5, #content6{
text-align: center;
}
.hero {
 width: 100%;
 height: 160px;
 display: flex;
justify-content: center;
align-items: center;

}
